<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark purple" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand text-white" >Bienvenido {{datos.name}} a la compañia {{datos.companyname}}</a></mdb-navbar-brand>
  <label></label>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect (click)="proyectos()">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="userhistory" (click)="userhistory()">Historias de usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="ticket">Tickets</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Perfil<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="consultar()">Mi cuenta</a>
          <a class="dropdown-item waves-light" mdbWavesEffect (click)="cerrarsesion()">Cerrar Sesión</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
